@font-face {
    font-family: 'Contemporary';
    font-style: normal;
    font-weight: 400;
    src: local('Contemporary'), local('Contemporary-Regular'), url('/typeface/Contemporary-Regular.ttf');
}

body {
    font-family: Contemporary, sans-serif;
    font-size: 10pt;
    background-color: rgb(40, 40, 40);
    color: white;
    
    margin: 0px;
}

div.mainContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

div.sidebar {
    width: 400px;
    border-right: 1px solid white;
}

div.sidebar .item {
    cursor: default;
    padding: 3px;
}

div.sidebar .item:hover {
    background-color: rgb(20, 60, 105);
}

div.sidebar .item:active, div.sidebar .item.selected {
    background-color: rgb(0, 80, 170);
}

div.header {
    padding: 9px;
    font-size: 15pt;
    border-bottom: 1px solid white;
}

div.call {
    border-bottom: 1px solid white;
}

h2 {
    font-size: 10pt;
    margin: 0px;
    padding: 9px;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    margin: 0px;
}

div.bigContainer {
    width: 100%;
}

span.typeSquare {
    padding: 3px;
    margin-right: 3px;
}

div.callUrl,
div.callDescription {
    padding: 9px;
}

div.headerContents {
    padding: 9px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

th {
    background-color: white;
    color: rgb(40, 40, 40);
    font-weight: normal;
    border: none;
}

td {
    border: 1px solid white;
}

td:last-child {
    border-right: none;
}

div.sidebarFooter {
    padding: 3px;
    font-size: 8pt;
}

a {
    color: rgb(0, 150, 255);
}